body{
    font-family: 'Montserrat', sans-serif;
    background-color: hsl(30, 38%, 92%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
div.container{
    background-color: white;
    width: 500px;
    height: 400px; 
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: corowlumn;
    align-items: center;
}
div.image{
    padding: 0;
    margin: 0;
    border-radius: 10px 0px 0 10px;
    width: 50%;
    height: 100%;
    background-image: url(./images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
}
div.text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px;
}
p.item{
    font-size: 12px;
    letter-spacing: 8px;
    margin: 0;
}
h2{
    font-family: Fraunces, serif;
    font-size: 30px;
    width: 81%;
    font-weight: 700;
    margin: 15px 0px;
}
p.description{
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    margin: 10px 0px;
}
div.price{
    display: flex;
    width: 70%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 15px 0;
    flex-wrap: nowrap;
}
p.discount{
    font-size: 24px;
    font-weight: 700;
    color: hsl(158, 36%, 37%);
    font-family: Fraunces, serif;
    margin: 0;
}
p.original-price{
    font-size: 12px;
    text-decoration: line-through;
    color: hsl(228, 12%, 48%);
    margin-left: 10px;
}
button{
    background-color: hsl(158, 36%, 37%);
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 5px;
    margin: 1px 0;
}
.cart-icon{
    margin-right: 5px;
}